.mapContainer, #map{
    height: 100%;
}
div#wizardSlides > div {
    display: none;
}
div#wizardSlides > div.activeSlide{
    display: block;
}

.rtl .fixed-table-container thead th:first-child{
    border-left: 1px solid #ddd!important;
}
.rtl .fixed-table-container tbody td:first-child{
    border-left: 1px solid #ddd;
}
.prio-starts{
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: thin solid #dddddd;
}
span.date-start, span.date-end{
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 2px;
    background-color: #f3f3f3;
}
.details-header{
    border-bottom: thin solid #dddddd;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.option-table td:first-child {
    width: 90px;
}
.option-table td{
    width: 25px;
}
.option-table th {
    height: 30px!important;
    padding: 8px!important;
}
table.table.option-table {
    border: 1px solid #ddd;
    margin-top: 15px;
}
.map-btn .btn {
    margin-top: 15px;
}
.panel-footer ul.list-group {
    margin-bottom: 0px!important;
}
.margin-null{
    margin: 0!important;
}
.modal-dialog {
    margin: 60px auto!important;
}
.tooltip-wrapper .btn-warning.btn[disabled] {
    pointer-events: none;
    background-color: #f0ad4e;
}
.tooltip-wrapper.disabled {
    cursor: not-allowed;
}
.cap-row{
    height: 602px;
    overflow: hidden;
    margin-top: 15px;
}
.user-row{
    margin-top: 15px;
}
#searchlist{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 450px;
}
#remoteData{
    overflow-y: scroll;
    height: 390px;
    width: 100%;
}
.cap-stat-container {
    height: 500px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.stat-group{
    margin-top: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
div#remoteUserData {
    overflow-y: scroll;
    height: 390px;
    width: 100%;
    border-top: 1px solid #ddd;
}